@charset "UTF-8";
/*
Theme Name: Newsletter
Author: Ghislain Perreau
Description: Ce th├¿me enfant vient surcharger le th├¿me sparkling avec les styles de la newsletter comm interne
Template: Sparkling
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
*/
@import url("../sparkling/style.css");
.site-navigation-inner {
  min-height: 120px; }

.navbar-header {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
