@charset "UTF-8";
/*
Theme Name: Newsletter
Author: Ghislain Perreau
Description: Ce th├¿me enfant vient surcharger le th├¿me sparkling avec les styles de la newsletter comm interne
Template: Sparkling
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
*/
@import url("../sparkling/style.css");
body {
  font-family: Open Sans, Arial; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .entry-title {
  font-family: Open Sans, Arial; }

.site-navigation-inner {
  min-height: 100px;
  padding-top: 20px; }

.site-header {
  font-family: Open Sans, Arial;
  border-top: 4px solid #177fc1; }
  .site-header .navbar-header {
    width: 100%; }
    .site-header .navbar-header h2 {
      font-size: 40px;
      text-transform: uppercase; }
      .site-header .navbar-header h2 .sous-titre {
        font-size: 30px;
        color: #666666;
        text-transform: none; }
    .site-header .navbar-header .date {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold; }

.main-content-area {
  margin-top: -110px; }
  .main-content-area .edito {
    background-color: #FFFFFF;
    padding: 45px 50px;
    position: relative;
    top: -30px;
    width: 1140px; }
